.slide {
  position: relative;
  color: white;
  overflow: hidden;
  border: 1px solid;
  padding: 30px;
  width: 100%;
  height: calc(100vh - 64px);
}

.title {
  position: absolute;
  z-index: 2;
  font-size: 3rem;
  display: block;
  bottom: 30px;
  left: 30px;
}

.description {
  line-height: 2rem;
  font-size: 1.7rem;
  max-width: 60%;
}

.image {
  position: absolute;
  width: 100%;
  left: 130px;
  top: 170px;
  transition-duration: 200ms;
}

.project:hover .image {
  left: 80px;
  top: 120px;
  transition-duration: 200ms;
}

/* animation: fade-in 1s ease .95s forwards,slide-up 1s cubic-bezier(.165,.84,.44,1) .95s; */


.slide_small {
  position: relative;
  color: white;
  overflow: hidden;
  border: 1px solid;
  padding: 30px;
  width: 100%;
  height: auto;
}

.slide_small .title {
  position: relative;
}