.project {
  position: relative;
  color: white;
  overflow: hidden;
  border: 1px solid;
  padding: 30px;
  width: 100%;
  height: calc(100vh - 64px);
}

.title {
  position: absolute;
  z-index: 2;
  font-size: 3rem;
  display: block;
  bottom: 0;
}

.text {
  margin: 0 60px;
  line-height: 1.3rem;
  display: none;
}

.image {
  position: absolute;
  width: 100%;
  left: 130px;
  top: 170px;
  transition-duration: 200ms;
}

.project:hover .image {
  left: 80px;
  top: 120px;
  transition-duration: 200ms;
}

.basket {
  transition: opacity 0.5s;
  opacity: 1;
}
.basket.hide {
  opacity: 0;
  pointer-events:none;
}